/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

#large-header {
	background-image: url('/assets/galaxy.jpg');
	background-size: auto;
}

.main-title {
	width: 70rem;
	font-family: 'Rowdies', cursive;
	position: absolute;
	margin: 0;
	padding: 5px;
font-weight: 300;
	color: #ebe1d6;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	user-select: none;
}

.hero-btn {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #fddd60;
    color: #0f0f0d;
    border-radius: 10px;
	transition: ease-in 0.5s;
  }
  .hero-btn:hover{
    color: #bbbb6a;
    background-color: #574848;
	transition: ease 0.4s;
  }

@media only screen and (max-width : 768px) {
	.main-title {
		width: 310px;
		font-size: 1.2em;
	}
}

